body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f8fc;
}

.container {
    display: flex;
}

.sidebar {
    width: 270px;
    background: #F1F2F7;
    color: #333;
    height: 963px;
    padding: 15px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed; /* Fixed position to keep it on the left */
    top: 0;
    left: 0;
}

.logo {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.logo-circle {
    background-color: #6b2cdf;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold; /* Make BF text bold */
    margin-right: 15px;
    margin-left: 20px;
}

.logo h2 {
    font-size: 19px;
    font-weight: bold;
    margin: 0;
    color: #6b2cdf;
}

.h{
    height: 1px;
    width: 560%;
    border: 0 none;
    margin-bottom: 50px;
    background-color: lightgrey;
}

nav{
    width: 200px;
    height: 250px;
    top: 101.33px;
    left: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    margin-bottom: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #7a7a7a;
    font-size: 16px;
    display: flex;
    align-items: center;
}

nav ul li.active a,
nav ul li a:hover {
    color: #6b2cdf;
    background: #e6e1ff;
    padding: 10px;
    border-radius: 6px;
    width: 240px;
}

nav ul li a .icon {
    margin-right: 20px;
    width: 24px;
    height: 24px;
    margin-left: 30px;
    filter: brightness(80%);
}

.menu-title {
    color: #b0b0b0;
    font-size: 12px;
    text-transform: uppercase;
    margin-left: 30px;
    margin-bottom: 25px;
}

nav .others{
    width: 200px;
    height: 399.24px;
    left: 30px;
}

.others {
    margin-top: 5px; /* Increase space between OTHERS and the first item */
    
}

.others .menu-title{
    margin-bottom: 25px;
    margin-left: 30px;
}

.header-and-dashboard {
    margin-left: 270px; /* Push content to the right of the sidebar */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: white;
}

.search-bar {
    position: relative;
    width: 600px;
    margin: 0 auto;
    padding: 20px 0;
    margin-left: 30px;
    padding-left: 30px;
}

.search-bar input[type="text"] {
    width: 650px;
    padding: 10px 40px 10px 10px; /* Adjust padding for icon */
    box-sizing: border-box;
    border-radius: 4px;
    border: none;
    font-size: 18px;
    background-color: rgb(236, 237, 238);
}

.search-bar input[type="text"]::placeholder{
    color: #a9a7a7;
    padding-left: 10px;
}

.search-bar button {
    position: absolute;
    right: 1px; /* Position the button close to the right edge */
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 17px;
    color: #a9a7a7;
    padding-left: 90px;
}

.search-bar button:hover {
    color: #000;
}

.arrow-icons, .bell-icons {
    display: flex;
    align-items: center;
}

.fa-bell {
    font-size: 20px;
    margin-right: 30px;
    cursor: pointer;
    color: rgb(151, 151, 151);
}

.dropdown-arrow {
    margin-right: 40px;
    color: rgb(151, 151, 151);
}

.header .user-info {
    color: #333;
    margin-left: 200px;
    margin-right: 70px;
}


.dashboard {
    padding: auto;
    display: flex;
    justify-content: space-between;
}

.ipo-dashboard,
.quick-links,
.main-board {
    background-color: white;
    padding: 100px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding-left: 80px;
    padding-bottom: 270px;
}

.ipo-dashboard h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
    padding-top: 30px;
}

.gain-text {
    color: #20c997;
    font-weight: bold;
    font-size: 18px;
}
.ipo-dashboard p {
    color: lightslategray;
}

.ipo-stats {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ipo-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    color: white;
}

.ipo-gain {
    background-color: #20c997;
}

.ipo-loss {
    background-color: #6f42c1;
}

.ipo-total {
    background-color: #fd7e14;
}

.ipo-item span {
    font-size: 24px;
    font-weight: bold;
}

.quick-links {
    padding-top: 82px;
    padding-left: 35px;
}

.menu-item:hover .icon {
    filter: brightness(0) saturate(100%) invert(65%) sepia(90%) saturate(7498%) hue-rotate(235deg) brightness(88%) contrast(99%);
}

/* Apply darker version of #6b2cdf on click */
.menu-item:active .icon {
    filter: brightness(0) saturate(100%) invert(65%) sepia(90%) saturate(7498%) hue-rotate(235deg) brightness(75%) contrast(110%);
}

.menu-item.active .icon {
    filter: brightness(0) saturate(100%) invert(41%) sepia(89%) saturate(7498%) hue-rotate(232deg) brightness(88%) contrast(97%);
}

.quick-links h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
    padding-top: 110px;
}

.quick-links p {
    color: #666;
    margin-bottom: 20px;
    font-size: 14px;
}

.quick-links ul {
    list-style: none;
    padding: 0;
    padding-top: 25px;
}

.quick-links ul li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.quick-links span {
    padding-left: 100px;
}

.quick-links ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-left: 10px;
}

.quick-links ul li a img {
    width: 35px;
    height: 35px;
    margin-right: 20px;
}

.quick-links img {
    box-shadow: 5px 5px 20px rgb(169, 169, 169);
    border-radius: 17px;
}

.quick-links ul li a span {
    color: #888;
    font-size: 14px;
    margin-left: auto;
    white-space: nowrap;
}

.o{
    height: 1px;
    width: 100%;
    border: 0 none;
    background-color: lightgrey; 
}

.main-board {
    padding-top: 190px;
}

.main-board p {
    color: #666;
    margin-bottom: 20px;
    font-size: 14px;
    margin-left: 1px;
}

.view {
    padding: 10px 28px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 100px;
    position: absolute;
    top: 300px;
    background-color: rgb(255, 255, 255);
    color: #4a0ffb;
    border: 1px solid rgb(204, 204, 204);
    cursor: pointer;
    left: 105%;
    white-space: nowrap;
}

.view:hover{
    background-color: #4a0ffb;
    color: white;
}


/* Media Queries */
@media screen and (min-width: 768px) {
    .container {
        flex-direction: row;
    }

    .sidebar {
        width: 270px;
        position: fixed;
        height: 100%;
        z-index: 1;
    }

    .header-and-dashboard {
        margin-left: 270px;
        margin-top: 0;
    }

    .header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }

    .search-bar {
        width: auto;
        margin: 0;
    }

    .search-bar input[type="text"] {
        width: 600px;
        font-size: 18px;
    }

    .dashboard {
        flex-direction: row;
        justify-content: space-between;
    }

    .ipo-dashboard,
    .quick-links,
    .main-board {
        padding: 40px;
    }

    .ipo-stats {
        flex-direction: row;
    }

    .ipo-item {
        width: 100px;
        height: 100px;
        margin-bottom: 0;
    }

    .ipo-item span {
        font-size: 24px;
    }

    .quick-links ul li {
        margin-bottom: 20px;
    }

    .quick-links ul li a img {
        width: 35px;
        height: 35px;
    }

    .main-board .view {
        font-size: 16px;
        left: auto;
        transform: none;
    }
}