body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.logo {
    max-width: 150px;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    color: #6c757d;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

label {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="email"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 16px;
}

.reset-button {
    background-color: hsl(261, 54%, 45%);
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.reset-button:hover {
    background-color: #5933bb;
}

.back-link {
    display: block;
    margin-top: 20px;
    color: #6c757d;
    text-decoration: none;
    font-size: 14px;
}

.back-link:hover {
    text-decoration: underline;
}


/* Adjustments for screens 768px or smaller */
@media (max-width: 768px) {
    .container {
        padding: 30px;
        width: 90%;
    }

    .logo {
        max-width: 120px;
        margin-bottom: 15px;
    }

    h1 {
        font-size: 20px;
    }

    input[type="email"] {
        font-size: 14px;
        padding: 8px;
    }

    .reset-button {
        padding: 8px;
        font-size: 14px;
    }

    p {
        font-size: 14px;
    }

    .back-link {
        font-size: 12px;
    }
}

/* Further adjustments for very small screens (e.g., 480px or less) */
@media (max-width: 480px) {
    .container {
        padding: 20px;
        width: 100%;
    }

    .logo {
        max-width: 100px;
        margin-bottom: 10px;
    }

    h1 {
        font-size: 18px;
    }

    input[type="email"] {
        font-size: 12px;
        padding: 6px;
    }

    .reset-button {
        padding: 6px;
        font-size: 12px;
    }

    p {
        font-size: 12px;
    }

    .back-link {
        font-size: 10px;
    }
}